@font-face {
  font-family: "manrope";
  src: url("Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: medium;
}

html {
  font-size: 0.7vw;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 70.58vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-name {
  font-size: 1.563rem;
  color: inherit;
  text-decoration: none;
}

.product-card {
  max-width: calc(33.33% - 1.98rem);
  background: #f4f4f6;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 2.97rem;
  position: relative;
}

.image {
  position: relative;
}

.action::after,
.action::before {
  content: "";
  position: absolute;
  top: 1.49rem;
  right: 1.49rem;
  width: 4.539rem;
  height: 4.539rem;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.action::after {
  content: "New";
  font-size: 1.563rem;
}

.action::before {
  content: "%";
  font-size: 1.935rem;
  right: 7.519rem;
  background: rgba(224, 251, 82, 1);
}

.image img {
  width: 100%;
  height: auto;
}

.caption {
  padding: 0 1.49rem;
}

.caption h4 {
  margin: 1rem 0 0.85rem 0;
}

p {
  margin: 0 0 1rem;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 1.34rem;
  margin: 0 0 0.2rem;
}

.price {
  margin-bottom: 1rem;
  font-size: 2.2325rem;
  font-weight: bold;
  text-align: right;
}

.price-old {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.button-group button {
  width: 100%;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 3rem;
  cursor: pointer;
  line-height: 2.945rem;
  padding: 0.8rem 0 0.8rem;
  margin-bottom: 1.49rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.563rem !important;
}

.button-group button:hover {
  background-color: black;
  color: white;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  right: 1.49rem;
  top: 1.49rem;
  line-height: 3.725rem;
  font-size: 7.45rem;
  font-weight: 100;
  cursor: pointer;
}

.modal-content {
  margin: 10% auto;
  padding: 2.98rem 3.75rem;
  border: 0.1rem solid #888;
  border-radius: 1rem;
  width: 32.555%;
  background-color: white;
  position: relative;
}

.modal-head {
  font-size: 3.425rem;
  margin: 0 0 2.98rem 0;
}

.modal-image {
  width: 12.43rem;
  height: 12.43rem;
  border-radius: 1rem;
}

.modal-product-name {
  margin: 0 0 0.9rem 0;
  font-size: 1.935rem;
  line-height: 130%;
}

.modal-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 4.47rem 0;
}

.product-details {
  flex: 1;
  padding-left: 1.79rem;
  position: relative;
}

.modal-description {
  text-align: left;
  margin: 0;
  font-size: 1.565rem;
}

.modal-price {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.modal-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  line-height: 3.54rem;
  padding: 0.8rem 3rem 0.8rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.563rem;
}

.input-icon::before {
  content: "*";
  color: red;
  display: block;
  position: relative;
  top: 2.7rem;
  left: 2.25rem;
  width: 0.75rem;
  font-size: 1.35rem;
  margin-top: -1rem;
}

.modal-input::placeholder {
  color: black;
}

.name-input {
  margin-bottom: 0.15rem;
}

.tel {
  margin-bottom: 0.15rem;
}

.consent-container {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 2.5rem;
  font-size: 1.34rem;
  color: rgba(0, 0, 0, 0.75);
}

.consent-radio {
  margin: 0 0.5rem 0 0;
  height: 1.49rem;
  width: 1.49rem;
  margin-right: 0.59525rem;
}

.error {
  visibility: hidden;
  color: red;
  margin: 0;
  font-size: 1.34rem;
}

.modal-button {
  background-color: black;
  color: white;
  border-radius: 3rem;
  line-height: 3.39rem;
  padding: 0.8rem 2.3rem 0.8rem;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  font-size: 1.563rem;
}

/* Для устройств с шириной экрана до 1200px (планшет) */
@media (max-width: 1200px) {
  .container {
    max-width: 89.84vw;
  }

  .product-card {
    max-width: calc(50% - 2.785rem);
    border-radius: 2rem;
    margin-bottom: 5.585rem;
  }

  .button-group button {
    border: 0.1rem solid black;
    border-radius: 9rem;
    line-height: 8.63rem;
    margin-bottom: 2.61rem;
    font-size: 3.725rem !important;
  }

  .product-name {
    font-size: 3.725rem;
    line-height: 130%;
  }

  .description {
    font-size: 3.164rem;
    margin: 5.581rem 0 0.745rem;
  }

  .price {
    margin-bottom: 2.605rem;
    font-size: 4.465rem;
  }

  .caption {
    padding: 0 3.725rem;
  }

  .caption h4 {
    margin: 1.675rem 0 0;
  }

  .action::after,
  .action::before {
    top: 3.725rem;
    right: 3.725rem;
    width: 10.98rem;
    height: 10.98rem;
  }

  .action::after {
    font-size: 3.725rem;
  }

  .action::before {
    font-size: 4.465rem;
    right: 18.43rem;
  }

  /* Стили для модального окна */
  .close {
    right: 3.7205rem;
    top: 3.7205rem;
    font-size: 18.58rem;
    line-height: 9.305rem;
  }

  .modal-content {
    margin: 15% auto;
    width: 72.9%;
    padding: 5.581rem 7.441rem;
    border-radius: 3rem;
  }

  .modal-head {
    font-size: 6.697rem;
    margin: 0 0 9.86rem 0;
    line-height: 130%;
  }

  .modal-image {
    width: 29.77rem;
    height: 29.77rem;
    border-radius: 1.5rem;
  }

  .modal-product-name {
    margin: 0 0 2.233rem 0;
    font-size: 4.465em;
  }

  .modal-details {
    margin: 0 0 9rem 0;
  }

  .product-details {
    padding-left: 5rem;
  }

  .modal-description {
    font-size: 3.721rem;
    margin: 0;
  }

  .modal-price {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }

  .modal-input {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 8rem;
    line-height: 8.13rem;
    padding: 1.8rem 6rem 1.8rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 3.725rem;
  }

  .input-icon::before {
    top: 6.9rem;
    left: 4.35rem;
    width: 0.75rem;
    font-size: 3.35rem;
    margin-top: -3.7rem;
  }

  .consent-container {
    margin-bottom: 11.165rem;
    font-size: 3.165rem;
  }

  .consent-radio {
    margin: 0 0.5rem 0 0;
    height: 3.725rem;
    width: 3.725rem;
    margin-right: 1.4881rem;
  }

  .error {
    visibility: hidden;
    color: red;
    font-size: 3.1622rem;
  }

  .modal-button {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    border-radius: 8rem;
    line-height: 8.13rem;
    padding: 1.8rem 6rem 1.8rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 3.725rem;
  }
}

/* Для устройств с шириной экрана до 767px (мобильные) */
@media (max-width: 767px) {
  .container {
    max-width: 91.115vw;
  }

  .product-card {
    max-width: calc(50% - 3.17rem);
    border-radius: 2rem;
    margin-bottom: 6.3491rem;
  }

  .button-group button {
    border: 0.1rem solid black;
    border-radius: 9rem;
    line-height: 11.68rem;
    margin-bottom: 3.969rem;
    font-size: 5.556rem !important;
  }

  .product-name {
    font-size: 5.556rem;
    line-height: 130%;
  }

  .description {
    font-size: 4.762rem;
    margin: 13.0952rem 0 0.7938rem;
  }

  .price {
    margin-bottom: 5.9524rem;
    font-size: 4.465rem;
    line-height: 130%;
  }

  .caption {
    padding: 0 3.9681rem;
  }

  .caption h4 {
    margin: 3.9682rem 0 0;
  }

  .action::after,
  .action::before {
    top: 3.725rem;
    right: 3.725rem;
    width: 10.98rem;
    height: 10.98rem;
  }

  .action::after {
    font-size: 3.725rem;
  }

  .action::before {
    font-size: 4.465rem;
    right: 18.43rem;
  }

  /* Стили для модального окна */
  .close {
    right: 5.9523rem;
    top: 5.9523rem;
    font-size: 27.75rem;
    line-height: 13.89rem;
  }

  .modal-content {
    margin: 5% auto;
    width: 100%;
    padding: 7.9364rem 11.9046rem 19.0475rem;
    border-radius: 0;
    box-sizing: border-box;
  }

  .modal-head {
    font-size: 9.1301rem;
    margin: 0 0 15.873rem 0;
    line-height: 130%;
  }

  .modal-image {
    width: 39.685rem;
    height: 39.685rem;
    border-radius: 5rem;
  }

  .modal-product-name {
    margin: 0 0 3.9684rem 0;
    font-size: 6.7461rem;
    line-height: 130%;
  }

  .modal-details {
    margin: 0 0 11.905rem 0;
  }

  .product-details {
    padding-left: 5rem;
  }

  .modal-description {
    font-size: 5.556rem;
    margin: 0 0 9.127rem;
  }

  .modal-price {
    position: static;
    margin: 0;
    font-size: 7rem !important;
  }

  .modal-input {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 10rem;
    line-height: 15.455rem;
    padding: 1.8rem 6rem 1.8rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 5.56rem;
  }

  .input-icon::before {
    top: 6.9rem;
    left: 4.35rem;
    width: 0.75rem;
    font-size: 3.35rem;
    margin-top: -3.9rem;
  }

  .consent-container {
    margin-bottom: 7.143rem;
    font-size: 4.762rem;
  }

  .consent-radio {
    margin: 0 0.5rem 0 0;
    height: 7.94rem;
    width: 7.94rem;
    margin-right: 3.1745rem;
  }

  .error {
    visibility: hidden;
    color: red;
    font-size: 4.7619rem;
  }

  .modal-button {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    border-radius: 10rem;
    line-height: 15.455rem;
    padding: 1.8rem 6rem 1.8rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 5.56rem;
  }
}
